.about-container {
    display: flex;
    flex-direction: column;
}
.about {
    height: 90vh;
    width: 98.7vw;
    flex: 1;
}

.about-wrapper {
    margin: 100px 80px;
    text-align: justify;
}

.about-main {
    text-align: center;
    margin-bottom: 30px;
}

.about-introduce {
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.distance,
.distance1  {
    border-top: 1px solid #ccc;
}


.about-title {
    margin: 20px 0;
}

.about-img {
    width: 80%;
    height: 80%;
    margin: 20px 0;
}

.about-title1 {
    margin-bottom: 20px;
}

@media (max-width: 739px) {
    .about-wrapper {
        margin-left: 20px !important;
        margin-right: 20px !important;
        overflow: hidden;
    }
    .about {
        margin-bottom: -5vh !important;
    }

    .about-img {
        width: 100%;
    }
}