.cart-block {
    margin-top: 14vh;
    margin-bottom: 20px;
    margin-left: 20px;
}

img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

table,th,td {
    border: 1px solid;
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
}

th {
    padding: 5px 0;
}

.cart-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.cart-btn_remove {
    padding: 5px;
    cursor: pointer;
}

.cart-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-qty {
    margin: 0 5px;
}

.cart-empty {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* font-weight: 700; */
}

.cart-total {
    width: 300px;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #F7FAF9;
    position: fixed;
    /* top: 14vh;
    right: 14px; */
}

.total {
    font-size: 24px;
    color: red;
}

.check-out {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
    background-color: #fff;
    color: #000;
}

.check-out:hover {
    background-color: #000;
    color: #fff;
}

.cart-mobile_wrapper {
    display: none;
}

@media (max-width: 739px) {
    .cart-empty {
        font-size: 40px;
    }

    table {
        display: none;
    }

    .cart-mobile_wrapper {
        display: block;
    }

    .cart-mobile {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .cart-mobile_left {
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .cart-mobile_img {
        width: 50%;
    }

    .cart-mobile_right {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .cart-mobile_price {
        margin: 5px 0;
    }

    .cart-mobile_quantity {
        display: flex;
        align-items: center;
    }

    .cart-qty {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cart-block {
        margin-right: 20px;
    }

    .cart-total {
        bottom: 0;
        left: 0;right: ;

    }
}
