.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
}

.product-img {
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 15%;
}

.product-img img {
    width: 80%;
    height: 80%;
}

.product-info {
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-category {
    font-size: 20px;
    text-transform: uppercase;
}

.product-title {
    font-size: 40px;
    margin: 15px 0;
}

.product-price {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

.product-desc {
    font-size: 20px;
    color: #757575;
    margin-bottom: 24px;
}

.product-btn {
    padding: 15px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}


.product-btn:hover {
    background-color: #000;
    color: #fff;
}

.btn {
    margin-right: 20px;
    padding: 5px 0;
}

.loading1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    animation: anime 2s linear infinite;
}

.distance {
    display: none;
}

@media (max-width: 739px) {
    .product {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .product-img {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    .product-img img {
        width: 80%;
        height: 80%;
    }

    .product-info {
        text-align: justify;
        padding-right: 0 !important;
        margin: 20px 0;
    }

    .product-category {
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .product-title {
        font-size: 26px;
    }
    
    .product-price {
        font-size: 24px;
        font-weight: 600;
        margin-top: 0 !important;
    }
    
    .product-desc {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .distance {
        display: block;
    }
    
}

